<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Add a User</h1>
        <ul>
            <li>First Name: {{one_user.first_name}}</li>
            <li>Last Name: {{one_user.last_name}}</li>
            <li>Email: {{one_user.email_address}}</li>
            <li>Age: {{one_user.age}}</li>
        </ul>
    </div>
</body>
</html>