<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All the Users</h1>
    <ul>
    {% for users in all_the_users %}
        <li>{{ users.first_name }}{{ users.last_name }}{{ users.email_address }}{{ users.age }}</li>
    {% endfor %}
    </ul>
    <form action="/add_user" method="POST">
        {% csrf_token %}
        <label for="first_name">First Name: </label>
        <input type="text" name="first_name">
        <label for="last_name">Last Name: </label>
        <input type="text" name="last_name">
        <label for="email_address">Email: </label>
        <input type="text" name="email_address">
        <label for="age">Age: </label>
        <input type="text" name="age">
        <input type="submit" value="Submit">
    </form>
</body>
</html>