@model Destination

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>You have virtually traveled to @Model.Name</h2>
  <img src="@Model.ImgUrl" alt="@Model.Name">
  <hr>
  <a href="/">Please take me home Falconhoof</a>
</body>
</html>