@* Long-form *@
@* @model TravelGuide.Models.Traveler *@

@* the @using is needed unless you use a Views/_ViewImports.cshtml file *@
@* @using TravelGuide.Models *@
@model Traveler

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="~/styles.css">
</head>
<body>
  <h1 id="test">@ViewBag.Introduction</h1>
  <img src="@ViewBag.ImgUrl" alt="Are You Ready For Your Quest">
  <p>Travel guid created in @ViewBag.YearCreated</p>

  <h3>Greetings, what is your name traveller?</h3>

  <form action="/guide" method="POST">
    <div class="form-group">
      <label>First Name</label>
      <input class="form-control" type="text" name="FirstName" />
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input class="form-control" type="text" name="LastName" />
    </div>
    @* <input type="submit" value="Please Guide Me On A Journey!" /> *@
    <button>Please Guide Me On A Journey!</button>
  </form>

</body>
</html>