@{
    ViewData["Title"] = "New Dish";
}
@model Dish

<div class="text-center">
    <h1 class="display-4">Add a Dish!</h1>
    <form asp-action="AddNewDish" asp-controller="Dish" method="POST">
    <div class="form-group">
        <label asp-for="DishName"></label>
        <span
        class="text-danger font-weight-bold"
        asp-validation-for="DishName"
        >
        </span>
        <input class="form-control" asp-for="DishName" />
    </div>

    <div class="form-group">
        <label asp-for="Calories"></label>
        <span
        class="text-danger font-weight-bold"
        asp-validation-for="Calories"
        >
        </span>
        <input class="form-control" asp-for="Calories" />
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <span
        class="text-danger font-weight-bold"
        asp-validation-for="Description"
        >
        </span>
        <input class="form-control" asp-for="Description" />
    </div>

    <div class="form-group">
        <label asp-for="UserId"></label>
        <span
        class="text-danger font-weight-bold"
        asp-validation-for="UserId"
        >
        </span>
        <select class="form-control" asp-for="UserId">
            @foreach (var chef in ViewBag.currentChefs)
            {
                <option value="@chef.UserId">@chef.UserId @chef.FirstName @chef.LastName</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Tastiness"></label>
        <span
        class="text-danger font-weight-bold"
        asp-validation-for="Tastiness"
        >
        </span>
        <select class="form-control" asp-for="Tastiness">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </select>
    </div>

    <button class="btn btn-info">Add a Chef!</button>
    </form>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
