@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home Page</h1>
    <div class="row mt-5">
        <div class="col-md">
            <partial name="_RegisterPartial.cshtml"/>
        </div>
        <div class="col-md">
            <partial name="_LoginPartial.cshtml"/>
        </div>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
