<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/shows/{{ show_to_edit.id }}/update" method="POST">
        {% csrf_token %}
        {% csrf_token %}
        {% for message in messages %}
        {% if message.extra_tags == "title" %}
        <span>{{message}}</span>
        {% endif %}
        {% endfor %}
        <label for="title">Title: </label>
        <input type="text" name="title" value="{{ show_to_edit.title }}">
        {% csrf_token %}
        {% for message in messages %}
        {% if message.extra_tags == "network" %}
        <span>{{message}}</span>
        {% endif %}
        {% endfor %}
        <label for="network">Network: </label>
        <input type="text" name="network" value="{{ show_to_edit.network }}">
        {% csrf_token %}
        {% for message in messages %}
        {% if message.extra_tags == "release_date" %}
        <span>{{message}}</span>
        {% endif %}
        {% endfor %}
        <label for="release_date">Release Date: </label>
        <input type="date" name="release_date" value="{{ show_to_edit.release_date }}">
        {% csrf_token %}
        {% for message in messages %}
        {% if message.extra_tags == "description" %}
        <span>{{message}}</span>
        {% endif %}
        {% endfor %}
        <label for="description">Description: </label>
        <input type="text" name="description" value="{{ show_to_edit.description }}">
        <input type="submit" value="Update">
    </form>
    <a href="/shows">Go Back</a>
</body>
</html>