@{
    ViewData["Title"] = "New Page";
}
@model User

<div class="text-center">
    <h1 class="display-4">Register to this Cool Site!</h1>
    <div class="text-right">
        <a href="loginpage">Login</a>
    </div>
    <div class="main">
        <form asp-action="Register" asp-controller="Home" method="POST">

            <div class="form-group">
                <label asp-for="FirstName"></label>
                <span
                class="text-danger font-weight-bold"
                asp-validation-for="FirstName">
                </span>
                <input class="form-control" asp-for="FirstName" />
            </div>

            <div class="form-group">
                <label asp-for="LastName"></label>
                <span
                class="text-danger font-weight-bold"
                asp-validation-for="LastName">
                </span>
                <input class="form-control" asp-for="LastName" />
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <span
                class="text-danger font-weight-bold"
                asp-validation-for="Email">
                </span>
                <input class="form-control" asp-for="Email" />
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <span
                class="text-danger font-weight-bold"
                asp-validation-for="Password">
                </span>
                <input class="form-control" asp-for="Password" />
            </div>

            <div class="form-group">
                <label asp-for="PasswordConfirm"></label>
                <span
                class="text-danger font-weight-bold"
                asp-validation-for="PasswordConfirm">
                </span>
                <input class="form-control" asp-for="PasswordConfirm" />
            </div>

            <button class="btn btn-info">Sign up Now</button>
        </form>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
