@{
    ViewData["Title"] = "Success Page";
}

<div class="text-center">
    <h1 class="display-4">Success</h1>
    <div class="text-right">
        <a href="logout">Logout</a>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
