<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip Buddy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row justify-content-between" style="margin-top:30px">
            <div class="col">
                <h5>Welcome {{ loggedinUser.first_name }} {{ loggedinUser.last_name }}</h5>
            </div>
            <div class="col">
                <a href="/logout">Logout</a> | <a href="/dashboard/add_lobby">Create A New Lobby!</a>
            </div>
        </div>
        <div class="row justify-content-between" style="margin-top:30px">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Lobby</th>
                            <th scope="col">Creator</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lobby in loggedinUser.lobby.all %}
                        <tr>
                            <td>{{ lobby.title }}</a></td>
                            <td>{{ lobby.user }}</td>
                            <td><a href="/dashboard/remove">Remove</a> | <a href="/dashboard/edit">Edit</a>
                        </tr>
            {% endfor %}
                    </tbody>
                </table>

                
            </div>
        </div>
    </div>
</body>
</html>