@* 
  @model lowercase m to specify the data type of the view model
  @Model capital m to access the data
*@

@model Post

<div class="container">
    <div class="card mx-auto text-center mb-3 w-50">
      <div class="card-header">
        <h5 class="card-title">
          @Model.Topic
        </h5>
      </div>

      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">
          by: @Model.Username
        </h6>
        <p class="card-text">
          @Model.Body
        </p>
      </div>

      <div class="card-footer">
      </div>
    </div>
</div>