<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Contact</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="navigation">
                <a href="/">Home</a> | 
                <a href="/projects">Projects</a> | 
                <a href="/contact">Contact</a>
            </div>
            <h1>Contact Me!</h1>
        </div>
        <div class="main">
            <form action="/">
            <div class="contact_form">
                <label for="name">Name: </label>
                <input type="text" name="name" value="enter name" class="input_area">
            </div>
            <div class="contact_form">
                <label for="name">Email: </label>
                <input type="text" name="email" value="enter email" class="input_area">
            </div>
            <div class="contact_form">
                <label for="name">Message: </label>
                <textarea name="message" cols="30" rows="10" class="input_area"></textarea>
            </div>
            <div class="contact_form">
                <input type="submit" value="Send" class="input_area">
            </div>
            </form>
        </div>
    </div>
</body>
</html>