<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="navigation">
                <a href="/">Home</a> | 
                <a href="/projects">Projects</a> | 
                <a href="/contact">Contact</a>
            </div>
            <h1>About Me!</h1>
        </div>
        <div class="home-main">
            <h2>Taichi Koga</h2>
            <img src="\img\sloth_pic.jpg" alt="Sloth Picture">
            <h2>I need a haircut so badly</h2>
            <h3>I may have to invest in a at-home haircutting kit</h3>
            <h4>or a headband</h4>
            <h5>or a lawnmower</h5>
            <h6>send help</h6>
        </div>
    </div>
</body>
</html>