<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Projects</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="navigation">
                <a href="/">Home</a> | 
                <a href="/projects">Projects</a> | 
                <a href="/contact">Contact</a>
            </div>
            <h1>Here are some projects of mine!</h1>
        </div>
        <div class="main">
            <div class="project_list">
                <div class="project_detail">
                    <h3>Project A</h3>
                    <img src="img\A.jpg" alt="A">
                    <p>Project A Description</p>
                </div>
                <br>
                <div class="project_detail">
                    <h3>Project B</h3>
                    <img src="img\B.jpg" alt="B">
                    <p>Project B Description</p>
                </div>
                <br>
                <div class="project_detail">
                    <h3>Project C</h3>
                    <img src="img\C.jpg" alt="C">
                    <p>Project C Description</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>