<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-left">
                <h3>{{ this_user.first_name }} {{ this_user.last_name }}'s Quotes</h3>
                {% for quote in quote_by_user %}
                    <p>{{ quote.author }}: "{{quote.quote}}"</p>
                {% endfor %}
            </div>
            <div class="header-right">
                <a href="/quotes/{{ current_user.id }}">Back</a>
                <form action="/logout" method="get">
                    <button type="submit">Logout</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>