@model Product
<h2>New Product</h2>
<form asp-action="NewProduct" asp-controller="Home" method="POST">
    <div class="form-group">
        <label asp-for="Name"></label>
        <span
        class="text-danger font-weight-bold"
        asp-validation-for="Name"
        >
        </span>
        <input class="form-control" asp-for="Name" />

        <label asp-for="Description"></label>
        <span
        class="text-danger font-weight-bold"
        asp-validation-for="Description"
        >
        </span>
        <input class="form-control" asp-for="Description" />

        <label asp-for="Price"></label>
        <span
        class="text-danger font-weight-bold"
        asp-validation-for="Price"
        >
        </span>
        <input class="form-control" asp-for="Price" />

        <button class="btn btn-info">Create</button>
    </div>
</form>
