@{
    ViewData["Title"] = "Products Page";
    Association newAssociation = new Association();
}
@model Product

<div class="text-center">
    <div class="header">
        <a href="/products">Products</a> | 
        <a href="/categories">Categories</a>
    </div>
    <div class="main">
        <h1>@Model.Name</h1>
        <div class="main-left">
            <partial name="_AddProductToCategoryPartial.cshtml" model="@newAssociation"/>
        </div>
        <div class="main-right">
            <h2>Categories:</h2>
            @foreach (var category in Model.CategoryOfProduct)
            {
                <p>@category.Category.Name</p>
            }
        </div>
    </div>
</div>
