<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div>
            <h2>Add a Book</h2>
            <form action="/add_book" method="POST">
                {% csrf_token %}
                <label for="title">Title: </label>
                <input type="text" name ="title">
                <label for="description">Description: </label>
                <input type="text" name="description">
                <input type="submit" value="Add">
            </form>
        </div>
        <div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Action</th>
                </tr>
                {% for books in all_the_books %}
                <tr>
                    <td>{{ books.id }}</td>
                    <td>{{ books.title }}</td>
                    <td><a href="/books/{{ books.id }}">View</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>