<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>{{ one_book.title }}</h2>
        <p>ID: {{ one_book.id}}</p>
        <p>Description: {{ one_book.description }}</p>
        <ul>Authors: 
            {% for book in one_book.authors.all %}
            <li>{{ book.first_name }} {{ book.last_name }}</li>
            {% endfor %}
        </ul>
        <form action="/add_book_to_author" method="POST">
            {% csrf_token %}
            <select name="select_an_author">
                {% for authors in all_the_authors %}
                <option value="{{ authors.id }}">{{ authors.first_name }} {{ authors.last_name }}</option>
                {% endfor %}
                <input type="submit" value="Add">
            </select>
        </form>
    </div>
</body>
</html>