<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Of The Things</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <a href="/things">Go home</a>
        </div>
        <h3>{{one_thing.field_1}}</h3>
        <ul>
            <li>Field 2: {{one_thing.field_2}}</li>
            <li>Field 3: {{one_thing.field_3}}</li>
        </ul>
        <p>Created {{one_thing.created_at}} and last updated {{one_thing.updated_at}}</p>
    </div>
</body>
</html>