@model Review

  <form asp-controller="FoodTrucks" asp-action="Review" asp-route-foodTruckId="@Model.FoodTruckId" class="row p-3">
    
    <div class="col-md-8">
      <div class="form-group">
        <label asp-for="Body"></label>
        <span
          class="text-danger font-weight-bold"
          asp-validation-for="Body"
        >
        </span>
        <textarea class="form-control" asp-for="Body" ></textarea>
      </div>
    </div>

    <div class="col-md-4">
      <span>Rating thumbs up</span>
      <select asp-for="Rating">
        @* 
          filledStar = &#9733;
          emptyStar = &#9734; 
        *@
        <option value="1">&#9733;&#9734;&#9734;&#9734;&#9734;</option>
        <option value="2">&#9733;&#9733;&#9734;&#9734;&#9734;</option>
        <option value="3">&#9733;&#9733;&#9733;&#9734;&#9734;</option>
        <option value="4">&#9733;&#9733;&#9733;&#9733;&#9734;</option>
        <option selected value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
      </select>

      <div class="mt-3">
        <a asp-controller="FoodTrucks" asp-action="All" class="btn btn-primary">Cancel</a>
        <button class="btn btn-success">Submit</button>
      </div>
    </div>
    
  </form>