@model FoodTruck

<form asp-controller="FoodTrucks" asp-action="Update" asp-route-foodTruckId="@Model.FoodTruckId">

  <div class="form-group">
    <label asp-for="Name"></label>
    <span
      class="text-danger font-weight-bold"
      asp-validation-for="Name"
    >
    </span>
    <input class="form-control" asp-for="Name" />
  </div>

  <div class="form-group">
    <label asp-for="Style"></label>
    <span
      class="text-danger font-weight-bold"
      asp-validation-for="Style"
    >
    </span>
    <input class="form-control" asp-for="Style" />
  </div>

  <div class="form-group">
    <label asp-for="Description"></label>
    <span
      class="text-danger font-weight-bold"
      asp-validation-for="Description"
    >
    </span>
    <input class="form-control" asp-for="Description" />
  </div>

  <a asp-controller="FoodTrucks" asp-action="Delete" asp-route-foodTruckId="@Model.FoodTruckId" class="btn btn-danger">Delete</a>
  <a asp-controller="FoodTrucks" asp-action="All" class="btn btn-primary">Cancel</a>
  <button class="btn btn-success">Update</button>
</form>