@model FoodTruck

<form asp-controller="FoodTrucks" asp-action="Create">

  @* using this would avoid having to manually assign the newTruck.UserId in the controller *@
  @* <input asp-for="UserId" value="@Context.Session.GetInt32("UserId")" type="hidden"> *@

  <div class="form-group">
    <label asp-for="Name"></label>
    <span
      class="text-danger font-weight-bold"
      asp-validation-for="Name"
    >
    </span>
    <input class="form-control" asp-for="Name" />
  </div>

  <div class="form-group">
    <label asp-for="Style"></label>
    <span
      class="text-danger font-weight-bold"
      asp-validation-for="Style"
    >
    </span>
    <input class="form-control" asp-for="Style" />
  </div>

  <div class="form-group">
    <label asp-for="Description"></label>
    <span
      class="text-danger font-weight-bold"
      asp-validation-for="Description"
    >
    </span>
    <input class="form-control" asp-for="Description" />
  </div>

  <button class="btn btn-light">Submit</button>
</form>
